page-about {
    .gridrow{ margin-top: -15px; width: 116%; height: 40px; margin-left: -8%;}
    .gridcol { background-color: #0D69AA; }
    .colmiddle { text-align: center; color: #0D69AA; font-weight: normal; }
    .desc {font-size: 12px; margin-top: 14px;}
    .row { text-align: center;}
    .grid { padding: 0px; }
}
