page-login {
    
     .fbbutton{
         background-color: #5977BF;
         margin-top: 0;
         border-radius: 5px;
     }
 
     .googlebutton{
         border-radius: 5px;
     }
    
     .or {
         text-align: center;
         color: #ffff;
     }
 
     .secdOr {
         text-align: center;
         color: #ffff;
         padding: 20px;
     }
 
 }
 